
@mixin text($fontFamily, $fontSize, $fontWeight, $textColor){
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $textColor;
}
@mixin flex($justifyContent, $alignItems){
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
@mixin flexContainer(){
  flex-direction: column;
  justify-content: flex-start;
}
@mixin typingEffect(){
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  line-height: 1.8;
}
