@import "../../App/sass/variables";
@import "../../App/sass/mixins";

.contact {
  .contactItem {
    @include flex('', center);
    margin: 10px 0;

    & img {
      width: 20px;
      height: 20px;
      margin: 0;
    }

    .description {
      margin: 0 0 0 5px;
    }
  }
}
