@import "../../pages/App/sass/variables";
@import "../../pages/App/sass/mixins";

.describeInfo {
  padding: 10px;
  margin: 10px;

  .describeTitle {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: $textColor;
    text-align: center;
  }

  .describeDescription {
    @include text($fontFamily, 16px, 400, $textSecondColor);
    line-height: 1.7;
    text-align: center;
    display: block;
    padding: 0;
  }
}




