@import "../../../pages/App/sass/variables";
@import "../../../pages/App/sass/mixins";

.footerBlock {
  height: 150px;
  background-color: $bgColor;

  .footerContainer {
    @include flexContainer();

    .title {
      @include text($fontFamilySerif, 24px, 700, $textColor);
      padding: 0 0 15px;
      margin: 0;
    }

    .socialIcons {
      width: 250px;
      @include flex(center, space-around);
    }

    .footerRight {
      @include text($fontFamily, 16px, 400, $textColor);
      line-height: 1.7;
      text-align: center;
    }
  }
}
